body{
	font-family: 'Cairo', sans-serif !important;
}

input{
	border-color: gray !important;
}

.form-control{
    border-radius: 8px !important; 
}
.container1{
    padding: 20px;
}

.btnn{
    border-radius: 40px !important;
	background-color: transparent !important;
	border: 2px solid #35aa47 !important;
    text-align: center;
    margin-left: 10px;
    

}

.btnn:hover{
	background-color: #35aa47 !important;
	border: none !important;
}

.container2{
    text-align: center;

}