body{
	font-family: 'Cairo', sans-serif !important;
}

.left-corner{
    margin-right: 30rem;
}



.container1, .container2, .container3, .container4, .container6{
    padding: 20px;
    margin-top: 10px;
}

.container5{
	border-style: solid;
	border-radius: 5px !important;
	border-color: #dddddd;
	padding: 10px;
	border-width: 1.5px;
}



.btnn{
    border-radius: 40px !important;
	background-color: transparent !important;
	border: 2px solid #35aa47 !important;
    text-align: center;
    

}

.btnn:hover{
	background-color: #35aa47 !important;
	border: none !important;
}

.container6{
	text-align: center;
}

.btnn1{
	margin-right: 100px;
}

