body{
	font-family: 'Cairo', sans-serif !important;
}

input{
	border-color: gray !important;
}

.form-control{
    border-radius: 8px !important; 
}

.btnn{
    border-radius: 40px !important;
	background-color: transparent !important;
	border: 2px solid #35aa47 !important;

    text-align: center;
    

}

.btnn:hover{
	background-color: #35aa47 !important;
	border: none !important;
}
.container1{
    padding: 20px;
}

.box1{
    border-color: #35aa47 !important;
    background-color: #35aa47 !important;
}

.box2{
    background-color: #35aa47 !important;
}